@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap');
.inrpage-menu {
    background: #fff;
    float: left;
    width: 100%;
    margin-top: 50px;
}
.inrpage-menu ol.breadcrumb {
    background: none;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
form.searchform {
    margin-bottom: 0;
}
.inrpage-menu ol.breadcrumb li.breadcrumb-item, .inrpage-menu ol.breadcrumb li.breadcrumb-item a {
    color: #fff;
    font-size: 19px;
}
.inrpage-menu ol.breadcrumb li.breadcrumb-item a:hover{
	color:#41bfef !important;
}
.inrpage-menu .breadcrumb-item+.breadcrumb-item::before {
    content:" >" !important;
    color:#fff!important;
}
.inrpage-menu .inrpage-search {
    float: right;
}
.inrpage-search input.form-control {
    width: 65%;
    margin: 0 15px 0 0;
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
    color: #999;
    border: 1px solid #8e8e8e;
    background: #fff;
    display: inline-block;
    border-radius: 6px;
}

.inrpage-search button.btn.btn-secondary {
    margin: 0;
    float: right;
    background: #28296c;
    color: #fff !important;
    padding: 0 20px !important;
    border-radius: 6px;
    border: 1px solid #28296c;
    height: 42px;
    line-height: 40px;
    text-transform: capitalize;
    font-weight: 600;
}
.inrpage-search button.btn.btn-secondary:hover{
    color: #28296c !important;
    background: #fff;
    border: 1px solid #28296c;
}
.inrpage-menu .filter-out {
    width: 250px;
    margin: 0;
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
    color: #28296c;
    border: 1px solid #28296c;
    background: #fff;
    display: flex;
    border-radius: 6px;
    align-items: center;
    flex-wrap: wrap;
}

.inrpage-menu .filter-out a.filter-icon {
    display: inline-block;
    margin-right: 12px;
    padding-right: 12px;
    border-right: 1px solid #ccc;
}

.inrpage-menu .filter-out a.filter-icon:hover img {
    opacity: 0.5;
}
.prdt-list-wrapper {
    float: left;
    width: 100%;
    padding: 60px 0;
}
.prdt-list-wrapper .list-group.panel h3 {
    color: #000;
    margin: 0 0 30px 0;
    font-size: 20px;
}
.prdt-list-wrapper .list-group.panel h3 {
    color: #000;
    margin: 0 0 30px 0;
    font-size: 20px;
}
.prdt-list-wrapper .list-group.panel a.submenu-hd.list-group-item.collapsed i.fa.fa-chevron-down {
    transform: rotatex(0);
}
.prdt-list-wrapper .list-group.panel a.submenu-hd.list-group-item i.fa.fa-chevron-down {
    transform: rotatex(-160deg);
}
.prdt-list-wrapper .list-group.panel a.list-group-item {
    font-size: 16px;
    color: #000;
    font-weight: normal;
    border: none;
    padding: 7px 0;
}
.prdt-list-wrapper .list-group.panel a.list-group-item:hover{
     color: #41bfef;
}
.prdt-list-wrapper .list-group.panel a.submenu-hd.list-group-item {
    font-size: 18px;
    color: #000;
    font-weight: 400;
    border: none;
    padding: 10px 0;
}

.prdt-list-wrapper .list-group.panel a.list-group-item i.fa {
    margin-left: 10px;
}
.prdt-dropdown {
    margin-bottom: 20px;
}
.prdt-dropdown {
    margin-bottom: 20px;
}
.prdt-list-wrapper .list-group.panel a.list-group-item.active {
    background: no-repeat;
    color: #41bfef;
}
span.lft-clrtxt.text-left {
    color: #0057a7;
    font-size: 18px;
    float: left;
}

.prdt-list-top {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

span.rgt-txt.text-right {
    float: right;
    color: #999;
    font-size: 18px;
}

.prdt-list-outer {
    float: left;
    width: 100%;
}

.prdt-list-outer .prdt-box {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 20px 20px 75px;
    border: none;
    position: relative;
    box-shadow: 0 0px 10px 0 rgba(138, 155, 165, 0.25);
    border-radius: 12px;

}

.related-prdt-row .prdt-box {
    border: none;
}


.pagination li.page-item:first-child span.page-link {
    font-size: 30px;
    line-height: 36px;
}

.prdt-list-outer .prdt-box .prdt-img {
    width: 100%;
    height: 203px;
    text-align: center;
    border-radius: 12px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.prdt-list-outer .prdt-box .prdt-img a {
    display: inline-block;
    width: 100%;
}
.prdt-list-outer .prdt-box .prdt-img .prdt-codtxt {
    display: inline-block;
}

.prdt-list-outer .prdt-box .prdt-img .prdt-codtxt span.cod-clr {
    position: absolute;
    left: 15px;
    top: 15px;
    background: #fff;
    border-radius: 4px;
    font-size: 13px;
    padding: 3px 10px;
    border: 1px solid #ddd;
}

.prdt-list-outer .prdt-box .prdt-img .prdt-codtxt span.cod-no {
    position: absolute;
    right: 15px;
    bottom: 15px;
    background: #fff;
    border-radius: 4px;
    font-size: 13px;
    padding: 3px 10px;
    border: 1px solid #ddd;
}
.prdt-list-outer .prdt-box .prdt-img img {
    display: inline-block;
    width: auto;
    max-height: 100%;
    object-fit: cover;
}
.prdt-list-outer .prdt-box button.orderbtn{
    background: #0057a7;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    padding: 0 8px;
    height: 30px;
    line-height: 30px;
    border:1px solid #0057a7;
    margin-top: 10px;
    border-radius: 6px;
}

.prdt-list-outer .prdt-box button.orderbtn:hover, .prdt-list-outer .prdt-box button.orderbtn:focus {
    background: #41bfef;
    color: #fff;
	box-shadow:none;
	border:1px solid #41bfef;
}
.prdt-list-outer .btn-outline-info.unitbtn{
    background: #fff;
    color: #0057a7;
    font-size: 15px;
    font-weight: normal;
    padding: 0 8px;
    height: 30px;
    line-height: 30px;
    border:1px solid #41bfef;
    margin-top: 10px;
    border-radius: 6px;
}
.prdt-list-outer .btn-outline-info.unitbtn:hover, .prdt-list-outer .btn-outline-info.unitbtn:focus{
 	background: #41bfef;
    color: #fff;
    border: 1px solid #41bfef;
}
.prdt-list-outer .quotebtn{
    background: #ef850d;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    padding: 0 8px;
    height: 30px;
    line-height: 30px;
    border:1px solid #ef850d;
    margin-top: 10px;
    border-radius: 6px;
    display: block;
    position: absolute;
    bottom: 15px;
}  
.prdt-list-outer .quotebtn:hover, .prdt-list-outer .quotebtn:focus{
    background: #666;
    color: #fff;
    border:1px solid #666;
} 

.prdt-list-outer .cartbtn{
    background: #3bd1d9;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    padding: 0 8px;
    height: 30px;
    line-height: 30px;
    border:1px solid #3bd1d9;
    margin-top: 10px;
    border-radius: 6px;
}  
.prdt-list-outer .cartbtn:hover, .prdt-list-outer .cartbtn:focus{
    background: #0a6166;
    color: #fff;
    border:1px solid #0a6166;
}

.prdt-list-outer .cartinbtn{
    background: #651f70;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    padding: 0 8px;
    height: 30px;
    line-height: 30px;
    border:1px solid #651f70;
    margin-top: 10px;
    border-radius: 6px;
}  
.prdt-list-outer .cartinbtn:hover, .prdt-list-outer .cartinbtn:focus{
    background: #3d1842;
    color: #fff;
    border:1px solid #3d1842;
}  
 
.related-prdt-row .prdt-box .prdt-content {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    color: #333;
}

.prdt-content .prdt-codtxt {
    display: inline-block;
    width: 100%;
    color: #999;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 15px;
}

.prdt-content .prdt-codtxt span.cod-clr {
    float: left;
}

.prdt-content .prdt-codtxt span.cod-no {
    float: left;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #9999;
}

.prdt-content .prdt-codtxt span.cod-no i.fa.fa-user {
    font-size: 18px;
    margin-right: 7px;
}

.prdt-content h2 {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 10px 0;
    line-height: 24px;
    word-break: break-word;
}
.prdt-content p {
    display: inline-block;
    width: 100%;
     margin-bottom: 10px;
     color: #333;
}
.prdt-content ul {
    float: left;
    width: 100%;
}
.prdt-list-outer .col-md-3 {
    margin-bottom: 50px;
}
.prdt-content ul li {
    color: #999;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 18px 0;
    position: relative;
    padding-left: 15px;
}

.prdt-content ul li::before {
	content: "";
	position: absolute;
	left: 0;
	width: 5px;
	height: 5px;
	background: #0057a7;top: 8px;
}
.prdt-list-outer .col-md-4 {
    margin-bottom: 30px;
}

.prdt-list-wrapper ul li.page-item a {
    padding: 0;
    height: 44px;
    width: 44px;
    line-height: 44px;
    color: #888;
    background: #fff;
    border: 2px solid #9394b5;
    border-radius: 6px !important;
    text-align: center;
    font-size: 17px;
}
.prdt-list-wrapper ul li.page-item.active a, .prdt-list-wrapper ul li.page-item a:hover {
    color: #fff;
    background:#27296c;
    border:1px solid #27296c;
}
.pagination li.page-item.active span.page-link {
    color: #fff;
    background: #27296c;
    border: 1px solid #27296c;
}
.prdt-list-wrapper ul li.page-item {
    margin: 0 4px;
}

.prdt-list-wrapper ul.pagination{
    margin-top: 30px;
}
.pagination li.page-item a {
    padding: 0;
    height: 44px;
    width: 44px;
    line-height: 44px;
    color: #888;
    background: #fff;
    border: 2px solid #9394b5;
    border-radius: 6px !important;
    text-align: center;
    font-size: 17px;
}

.pagination li.page-item span.page-link {
    padding: 0;
    height: 44px;
    width: 44px;
    line-height: 44px;
    color: #888;
    background: #fff;
    border: 2px solid #9394b5;
    border-radius: 6px !important;
    text-align: center;
    font-size: 17px;
}

.prdt-list-wrapper ul li.page-item:first-child a.page-link, .prdt-list-wrapper ul li.page-item:last-child a.page-link {
    font-size: 30px;
    line-height: 36px;
}

.btm-helpstrip {
    background: #f3f3f3;
    float: left;
    width: 100%;
    padding: 30px 0;
}
.srip-outer h3 {
    color: #32b3de;
    font-size: 30px;
    font-style: italic;
    margin: 0 0 20px 0;
    font-family: 'PT Serif', serif!important;
}

.srip-outer h1 {
    color: #0c3a60;
    font-size: 45px;
  font-family: 'Josefin Sans', sans-serif!important;
      font-weight: 700;
}
.srip-outer h1 a{
	color: #0c3a60;
    font-size: 45px;
   cursor:pointer;
   font-family: 'Josefin Sans', sans-serif!important;
       font-weight: 700;
}
.srip-outer h1 a:hover{
	color: #666;
}
.col-md-5.ml-auto:first-child .srip-outer {
    border-right: 1px solid #0c3a60;
}
.prdt-list-outer .prdt-box .prdt-content button.btn.quotebtn {
    background: url(../images/arrow-right-white.svg) #28296c no-repeat 95% center  !important;
    height: 45px;
    border: 1px solid #28296c;
    float: left;
    width: 88%;
    border-radius: 6px;
    text-align: left;
    padding: 0 20px;
    line-height: 43px;
    background-size: 20px !important;
}
.prdt-list-outer .prdt-box .prdt-content button.btn.quotebtn:hover {
    background: url(../images/arrow-right-blue.svg) #fff no-repeat 95% center  !important;
    border: 1px solid #28296c;
    color:#28296c;
    background-size: 20px !important;
}
.prdt-list-outer .prdt-box .prdt-content {
    float: left;
    width: 100%;
}

